@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
}


@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(18px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Fix Leaflet overlapping modal */
.leaflet-container {
  z-index: 0 !important;
}

.leaflet-pane,
.leaflet-top,
.leaflet-bottom {
  z-index: 0 !important;
}

.fade-up {
  animation: fadeUp 0.7s ease-out both;
}

.fade-up-delay-1 {
  animation: fadeUp 0.9s ease-out both;
}

.fade-up-delay-2 {
  animation: fadeUp 1.1s ease-out both;
}